{% load base_tags %}

<div class="card m-3">
    <div class="card-body">
        <div class=" d-flex justify-content-end">

            <div class="mr-auto p-2">


                <a class="thumbnail text-left"
                   href="{% url 'user-public-profile' post.author.slug %}">
                    <img src="{{ post.author.avatar.url }}" width="25px" height="25px"
                         alt="{{ post.author.username }}"
                         class="rounded-circle pull-left">
                </a> <a href="{% url 'user-public-profile'  post.author.slug %}"
                        style="text-decoration: none">
                <small class="font-weight-bold m-2 mt-4">
                    {% if  post.author.full_name %}
                        {{ post.author.full_name }}
                    {% endif %}</small>
                <small class="text-left text-secondary">{{ post.author.username }}</small>
            </a>

            </div>

            <div class=" p-2">
                <small class="pull-right text-right text-dark">{{ post.created }}
                    {% if post.edited %}
                        (Post was edited) {% endif %}</small>
            </div>
            {% if user == post.author %}
                <a class="btn-sm nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'post-edit' post.id %}">Edit</a>
                    <a class="dropdown-item" href="{% url 'post-delete' post.id %}">Delete</a>
                </div>

            {% endif %}
        </div>
        <hr>
        <div>
            {% if post.image %}

                <div align="center" class="p-2"><img class="img-fluid" src="{{ post.image.url }}"
                                                     alt="{{ post.author.username }}"></div>
            {% endif %}
            <div class="media-body p-2">
                {% add_hashtags_links post.content as content %}
                {{ content|safe }}

            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 text-center">

                    {% user_like_it user.id post as user_like_it %}
                    {% get_number_of_comments post as number_of_comments %}


                    <form method="POST" action="{{ request.get_full_path }}">
                        <small class="font-weight-bold mr-2">Likes: {{ post.likes.count }}</small>
                        {% csrf_token %}
                        <input type="hidden" id="post_id" name="post_id" value="{{ post.id }}">
                        {% if user_like_it %}
                            <button type="submit" class="btn btn-warning btn-sm">Unlike</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-sm">Like</button>
                        {% endif %}
                    </form>

                </div>
                <div class="col-md-4 text-center">
                    <small class="font-weight-bold mr-2">Comments: {{ number_of_comments }}</small>

                </div>
                <div class="col-md-4 text-center">
                    <a href="{% url "post-details" post.id %}" class="btn btn-primary btn-sm"
                       role="button"
                       aria-pressed="true">Go to post</a>

                </div>
            </div>
        </div>


    </div>
</div>