{% extends "../base.html" %}

{% load bootstrap4 %}

{% block content %}
   <div class="card">
        <h5 class="card-header text-dark">Password Reset</h5>
        <div class="card-body">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to
                reset it.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-group col-md-7  m-auto">
                    {% bootstrap_form form %}</div>
                <input class="btn btn-primary" type="submit" value="Reset My Password'"/>
            </form>
        </div>
    </div>

{% endblock content %}