{% extends "../base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="card">
        <h5 class="card-header text-dark">Password Reset</h5>
        <div class="card-body">
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>

        </div>
    </div>

{% endblock content %}