{% extends 'base.html' %}
{% block page_title %}Profil{% endblock %}

{% block content %}
    <section class="d-flex align-items-center mb-5">
        <div class="col-4">
            <img class="img-fluid rounded-circle " src="{{ object.profile_image.url }}"
                 alt="{{ object.username }}">
        </div>
        <div class="col-8">
            <div class="user-info-header">
                <h2>{{ user.username }}</h2>
                <ul class="list-unstyled d-flex">
                    <li class="mr-2">Liczba postów: <b>{{ object.posts.count }}</b></li>
                    <li class="mx-2">Liczba obserwujacych: <b>{{ object.followers.count }}</b></li>
                    <li class="mx-2">Obserwuje: <b>{{ object.following.count }}</b></li>
                </ul>
            </div>
            <div class="user-info-description">
               {% if object.about_me %} {{ object.about_me }}{% endif %}
            </div>
        </div>
    </section>
    <hr>
    <div class="container">
        <div class="row">
            {% for post in object.posts.all %}
                <div class="col-md-4 col-sm-6 mb-3 d-flex flex-column">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="">
                    <div class="d-flex justify-content-between mt-1">
                        <div>Polubienia: <b>{{ post.likes_count }}</b></div>
                        <div>Komentarze: <b>{{ post.comments_count }}</b></div>
                    </div>
                    <div class="text-center mt-2">
                        <a class="btn btn-outline-primary btn-block" href="{{ post.get_absolute_url }}" role="button">Zobacz post</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}